*{
    --primary-bg: #242526;
    --secondary-bg: #fff;
    --primary-text-color: #555;
    --secondary-text-color: #cecece;
    --border-radius: 8px;
    --speed: 500ms;
}

ul{
    list-style: none;
}

a {
    text-decoration: none;
}

.dropdownItem{
    display: flex;
    margin: 10px auto;
}

.dropdownItem img{
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.7;
    transition: var(--speed);
}

.dropdownItem.active{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: var(--speed) ease;
}

.dropdownItem.inactive{
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
    transition: var(--speed) ease;
}

img:hover{
    opacity: 2;
    cursor: pointer;

}

.dropdownItem a{
    max-width: 200px;
    margin-left: 10px;
    transform: var(--speed);
    font-size: 14px;
    font-weight: 400;
}

.LogOut{
    width: 50%;
    background-color: red;
}


